ul {
  position: relative;
  left: -30px;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  position: relative;
  bottom: 0px;
  left: 60px;
}

body {
  background-color: #cedcc3 !important;
}

.container {
  display: block;
  margin: 50px;
  background-color: #cedcc3;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
}

.conversion {
  position: relative;
  top: -90px;
  padding: 0;
  margin: 0;
}

.left-side {
  text-align: left;
  position: relative;
  padding: 20px;
}

.right-side {
  text-align: right;
  position: relative;
  top: -250px;
  right: 65px;
  padding: 5px;
}

#weather-forecast {
  position: relative;
  top: -230px;
  padding: 15px;
}

.icons {
  position: relative;
  text-align: center;
}

.active {
  color: black;
  cursor: default;
}

.active:hover {
  color: blue;
  cursor: pointer;
}

#main-icon {
  position: relative;
  top: 100px;
  right: 80px;
  padding: 5px;
}

#celcius,
#farenheit {
  text-decoration: none;
}

#line {
  position: relative;
  right: -60px;
}

#city {
  font-size: 45px;
  font-weight: bold;
  text-transform: capitalize;
}

#date,
#situation {
  font-size: 20px;
}

#temp {
  font-size: 80px;
  font-weight: bold;
}

#day1,
#maxTemp,
#minTemp {
  font-size: 12px;
}

#forecast-icon {
  position: relative;
  width: 50px;
  left: 0;
}

.seach-section {
  position: relative;
  top: -200px;
  padding: 15px;
  text-align: center;
}
