ul {
  position: relative;
  left: -30px;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  position: relative;
  bottom: 0px;
  left: 60px;
}

.container {
  display: block;
  margin: 100px;
  background-color: #cedcc3;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  padding: 5px;
  height: 450px;
}

.conversion {
  position: relative;
  top: -90px;
  padding: 0;
  margin: 0;
}

.left-side {
  text-align: left;
  position: relative;
  padding: 20px;
}

.right-side {
  text-align: right;
  position: relative;
  top: -270px;
  right: 65px;
  padding: 5px;
}

#weather-forecast {
  position: relative;
  top: -230px;
  padding: 15px;
}

.icons {
  text-align: center;
}

.active {
  color: black;
  cursor: default;
}

.active:hover {
  color: blue;
  cursor: pointer;
}

#main-icon {
  position: relative;
  top: 100px;
  right: 60px;
  padding-right: 5px;
  width: 110px;
}

#celcius,
#farenheit {
  text-decoration: none;
}

#line {
  position: relative;
  right: -60px;
}

#city {
  font-size: 45px;
  font-weight: bold;
  text-transform: capitalize;
}

#date,
#situation {
  font-size: 20px;
}

#temp {
  font-size: 75px;
  font-weight: bold;
}

#weather-forecast {
  text-align: center;
}

#day1 {
  font-size: 15px;
  text-align: center;
}

#minTemp,
#maxTemp {
  font-size: 13px;
  padding-top: 0;
  padding-right: 2px;
}

#forecast-icon {
  width: 50px;
  text-align: center;
}

.search-section {
  text-align: center;
}

#search-input {
  position: relative;
  bottom: 150px;
  /* left: 50px; */
  border: 1px solid #69ab98;
  padding: 5px;
  width: 300px;
  /* margin-right: 5px; */
  margin-top: 0;
}

#searchBtn {
  position: relative;
  left: 0px;
  bottom: 151px;
  padding-left: 7px;
  padding-right: 7px;
  margin: 0;
  background-color: #69ab98;
  border: none;
}
